testing/data/*
testing/misc/__pycache__
testing/for_benchmark
nulloretriever.egg-info
__pycache__/
testing/module-testing/data/*
*.snakemake
*.tsv
workflow/data/genomes/*
*.directories_created
*.results_directories_created
*.log
*.prof
*.csv
workflow/log/
workflow/results/
workflow/data/
workflow/data_result/
workflow/scripts/c/*.o
_result/
out/
graphs/
data_total_*/
build/
test/
teste/
tests/
*.o
trie_binary_test
trie_compact_txt
.DS_Store
.envrc
.bugs.md.swp
perf.data*
